<center>

<h1>Intro to Data Analysis in Python</h1>

<h2>PyLadies Vancouver Workshop</h2>

</center>

## PyData Ecosystem

Image of Python logo - mention built-in functions (e.g. print(), abs(), sorted()) and built-in libraries (e.g. random, datetime)

## IPython Shell

In [1]:
print('Hello world!')

Hello world!

## Built-in functions

In [2]:
round?

In [3]:
round(3.14159, 2)

3.14

In [4]:
sorted?

In [5]:
range?

In [6]:
range(10)

range(0, 10)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Python Basics

In no particular order yet:

- Variable types - integer, float, string, Boolean, None, list
- Basic math operations, reassigning variables (e.g. `a = a + 1`)
- Functions and methods, sorted(), chaining methods
- Lists - indexing, slicing, concatenation and other operations, append(), extend(), remove(), range(), copies vs. pointers, nested lists, square brackets vs. parentheses, membership testing with `in`
- Tuples and zip(), set()

- Loops - iterating over lists, counting with enumerate(), indentation
- Conditionals and logic - if statements, logical operators, "in", "and", "or", "not"
- Dictionaries
- Strings - indexing, slicing, concatenation, long strings, upper(), lower(), capitalize(), startswith(), endswith(), find(), replace()
- Defining functions - e.g. shouting() -- upper case and periods to exclamation points

In [8]:
x = -20
print(x + 2)

-18

In [9]:
abs(x)

20

In [10]:
animals = ['dog', 'cat', 'rabbit', 'duck', 'goose']
print(animals)
print(sorted(animals))

['dog', 'cat', 'rabbit', 'duck', 'goose']
['cat', 'dog', 'duck', 'goose', 'rabbit']

In [11]:
mammals = animals[:3]
mammals

['dog', 'cat', 'rabbit']

In [12]:
mammals[1] = 'CAT'
mammals

['dog', 'CAT', 'rabbit']

In [13]:
animals

['dog', 'cat', 'rabbit', 'duck', 'goose']

## Built-in libraries

In [14]:
import calendar

In [15]:
calendar.isleap?

In [16]:
calendar.isleap(2018)

False

In [17]:
calendar.weekday?

In [18]:
calendar.weekday(2018, 5, 26)

5

In [19]:
from datetime import date
date.today()

datetime.date(2018, 5, 22)

In [20]:
import random

# Random decimal number in the interval [0, 1) (including 0, excluding 1)
x1 = random.random()
x1

0.07791340506510802

In [21]:
# Random integer in the range [a,b], including both end points
num = random.randint(1, 100)
print(num)

5

In [1]:
import pandas as pd

In [23]:
pd.read_csv?

In [6]:
weather = pd.read_csv('./data/weather_YVR.csv')
weather

,Datetime,Hour of Day,Conditions,Temperature (C),Relativehumidity(%)
0,2018-05-21 22:00:00,22,Mainly Clear,14.8,75.0
1,2018-05-21 23:00:00,23,Clear,13.5,76.0
2,2018-05-22 00:00:00,0,Clear,13.1,77.0
3,2018-05-22 01:00:00,1,Clear,12.9,84.0
4,2018-05-22 02:00:00,2,Clear,12.2,88.0
5,2018-05-22 03:00:00,3,Clear,12.0,87.0
6,2018-05-22 04:00:00,4,Clear,11.9,88.0
7,2018-05-22 05:00:00,5,Fog,10.4,97.0
8,2018-05-22 06:00:00,6,Mainly Sunny,11.0,91.0
9,2018-05-22 07:00:00,7,Partly Cloudy,13.0,92.0
10,2018-05-22 08:00:00,8,Mainly Sunny,14.8,82.0
11,2018-05-22 09:00:00,9,Partly Cloudy,15.8,78.0
12,2018-05-22 10:00:00,10,Partly Cloudy,15.9,75.0
13,2018-05-22 11:00:00,11,Partly Cloudy,16.1,80.0
14,2018-05-22 12:00:00,12,Mainly Sunny,17.4,77.0
15,2018-05-22 13:00:00,13,Mainly Sunny,18.2,68.0
16,2018-05-22 14:00:00,14,Mainly Sunny,18.8,64.0
17,2018-05-22 15:00:00,15,Mainly Sunny,19.5,62.0
18,2018-05-22 16:00:00,16,Sunny,19.4,67.0
19,2018-05-22 17:00:00,17,Mainly Sunny,20.1,64.0
20,2018-05-22 18:00:00,18,Sunny,19.7,59.0
21,2018-05-22 19:00:00,19,Sunny,19.6,67.0
22,2018-05-22 20:00:00,20,Sunny,18.4,70.0
23,2018-05-22 21:00:00,21,Clear,16.1,84.0

In [25]:
weather.head()

              Datetime    Conditions  Temperature (C)  Relativehumidity(%)
0  2018-05-21 22:00:00  Mainly Clear             14.8                 75.0
1  2018-05-21 23:00:00         Clear             13.5                 76.0
2  2018-05-22 00:00:00         Clear             13.1                 77.0
3  2018-05-22 01:00:00         Clear             12.9                 84.0
4  2018-05-22 02:00:00         Clear             12.2                 88.0

In [26]:
weather.head(3)

              Datetime    Conditions  Temperature (C)  Relativehumidity(%)
0  2018-05-21 22:00:00  Mainly Clear             14.8                 75.0
1  2018-05-21 23:00:00         Clear             13.5                 76.0
2  2018-05-22 00:00:00         Clear             13.1                 77.0

In [27]:
weather.tail(7)

               Datetime    Conditions  Temperature (C)  Relativehumidity(%)
17  2018-05-22 15:00:00  Mainly Sunny             19.5                 62.0
18  2018-05-22 16:00:00         Sunny             19.4                 67.0
19  2018-05-22 17:00:00  Mainly Sunny             20.1                 64.0
20  2018-05-22 18:00:00         Sunny             19.7                 59.0
21  2018-05-22 19:00:00         Sunny             19.6                 67.0
22  2018-05-22 20:00:00         Sunny             18.4                 70.0
23  2018-05-22 21:00:00         Clear             16.1                 84.0

In [28]:
weather.sample(4)

               Datetime    Conditions  Temperature (C)  Relativehumidity(%)
8   2018-05-22 06:00:00  Mainly Sunny             11.0                 91.0
19  2018-05-22 17:00:00  Mainly Sunny             20.1                 64.0
3   2018-05-22 01:00:00         Clear             12.9                 84.0
16  2018-05-22 14:00:00  Mainly Sunny             18.8                 64.0

In [29]:
weather.describe()

       Temperature (C)  Relativehumidity(%)
count        24.000000            24.000000
mean         15.608333            77.166667
std           3.119492            10.470109
min          10.400000            59.000000
25%          12.975000            67.750000
50%          15.850000            77.000000
75%          18.500000            84.750000
max          20.100000            97.000000

In [30]:
weather.max()

Datetime               2018-05-22 21:00:00
Conditions                           Sunny
Temperature (C)                       20.1
Relativehumidity(%)                     97
dtype: object

In [31]:
weather['Conditions'].value_counts()

Clear            7
Mainly Sunny     7
Sunny            4
Partly Cloudy    4
Fog              1
Mainly Clear     1
Name: Conditions, dtype: int64

## Filters

In [32]:
mainly_sunny = weather['Conditions'] == 'Mainly Sunny'
mainly_sunny

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10     True
11    False
12    False
13    False
14     True
15     True
16     True
17     True
18    False
19     True
20    False
21    False
22    False
23    False
Name: Conditions, dtype: bool

In [33]:
weather[mainly_sunny]

               Datetime    Conditions  Temperature (C)  Relativehumidity(%)
8   2018-05-22 06:00:00  Mainly Sunny             11.0                 91.0
10  2018-05-22 08:00:00  Mainly Sunny             14.8                 82.0
14  2018-05-22 12:00:00  Mainly Sunny             17.4                 77.0
15  2018-05-22 13:00:00  Mainly Sunny             18.2                 68.0
16  2018-05-22 14:00:00  Mainly Sunny             18.8                 64.0
17  2018-05-22 15:00:00  Mainly Sunny             19.5                 62.0
19  2018-05-22 17:00:00  Mainly Sunny             20.1                 64.0

In [34]:
mainly_clear = weather['Conditions'] == 'Mainly Clear'
weather[mainly_clear]

              Datetime    Conditions  Temperature (C)  Relativehumidity(%)
0  2018-05-21 22:00:00  Mainly Clear             14.8                 75.0

In [35]:
temp_C = 23
temp_F = (1.8 * temp_C) + 32
# Note: parentheses not necessary in this case, but good habit to get into
print(f'{temp_C} degrees C equals {temp_F} degrees F')

23 degrees C equals 73.4 degrees F

In [36]:
weather['Temperature (F)'] = (1.8 * weather['Temperature (C)']) + 32
weather.head()

,Datetime,Conditions,Temperature (C),Relativehumidity(%),Temperature (F)
0,2018-05-21 22:00:00,Mainly Clear,14.8,75.0,58.64
1,2018-05-21 23:00:00,Clear,13.5,76.0,56.30
2,2018-05-22 00:00:00,Clear,13.1,77.0,55.58
3,2018-05-22 01:00:00,Clear,12.9,84.0,55.22
4,2018-05-22 02:00:00,Clear,12.2,88.0,53.96

In [37]:
weather['Temperature (F)']

0     58.64
1     56.30
2     55.58
3     55.22
4     53.96
5     53.60
6     53.42
7     50.72
8     51.80
9     55.40
10    58.64
11    60.44
12    60.62
13    60.98
14    63.32
15    64.76
16    65.84
17    67.10
18    66.92
19    68.18
20    67.46
21    67.28
22    65.12
23    60.98
Name: Temperature (F), dtype: float64

In [10]:
am_rows = weather['Hour of Day'] < 12
weather_am = weather[am_rows]
weather_am

,Datetime,Hour of Day,Conditions,Temperature (C),Relativehumidity(%)
2,2018-05-22 00:00:00,0,Clear,13.1,77.0
3,2018-05-22 01:00:00,1,Clear,12.9,84.0
4,2018-05-22 02:00:00,2,Clear,12.2,88.0
5,2018-05-22 03:00:00,3,Clear,12.0,87.0
6,2018-05-22 04:00:00,4,Clear,11.9,88.0
7,2018-05-22 05:00:00,5,Fog,10.4,97.0
8,2018-05-22 06:00:00,6,Mainly Sunny,11.0,91.0
9,2018-05-22 07:00:00,7,Partly Cloudy,13.0,92.0
10,2018-05-22 08:00:00,8,Mainly Sunny,14.8,82.0
11,2018-05-22 09:00:00,9,Partly Cloudy,15.8,78.0
12,2018-05-22 10:00:00,10,Partly Cloudy,15.9,75.0
13,2018-05-22 11:00:00,11,Partly Cloudy,16.1,80.0

In [13]:
# Throw a Warning by setting values on a slice

weather_am['Conditions'] = 'Raining cats and dogs'
weather_am

C:\Users\jenfl\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Datetime,Hour of Day,Conditions,Temperature (C),Relativehumidity(%)
2,2018-05-22 00:00:00,0,Raining cats and dogs,13.1,77.0
3,2018-05-22 01:00:00,1,Raining cats and dogs,12.9,84.0
4,2018-05-22 02:00:00,2,Raining cats and dogs,12.2,88.0
5,2018-05-22 03:00:00,3,Raining cats and dogs,12.0,87.0
6,2018-05-22 04:00:00,4,Raining cats and dogs,11.9,88.0
7,2018-05-22 05:00:00,5,Raining cats and dogs,10.4,97.0
8,2018-05-22 06:00:00,6,Raining cats and dogs,11.0,91.0
9,2018-05-22 07:00:00,7,Raining cats and dogs,13.0,92.0
10,2018-05-22 08:00:00,8,Raining cats and dogs,14.8,82.0
11,2018-05-22 09:00:00,9,Raining cats and dogs,15.8,78.0
12,2018-05-22 10:00:00,10,Raining cats and dogs,15.9,75.0
13,2018-05-22 11:00:00,11,Raining cats and dogs,16.1,80.0

In [14]:
weather

,Datetime,Hour of Day,Conditions,Temperature (C),Relativehumidity(%)
0,2018-05-21 22:00:00,22,Mainly Clear,14.8,75.0
1,2018-05-21 23:00:00,23,Clear,13.5,76.0
2,2018-05-22 00:00:00,0,Clear,13.1,77.0
3,2018-05-22 01:00:00,1,Clear,12.9,84.0
4,2018-05-22 02:00:00,2,Clear,12.2,88.0
5,2018-05-22 03:00:00,3,Clear,12.0,87.0
6,2018-05-22 04:00:00,4,Clear,11.9,88.0
7,2018-05-22 05:00:00,5,Fog,10.4,97.0
8,2018-05-22 06:00:00,6,Mainly Sunny,11.0,91.0
9,2018-05-22 07:00:00,7,Partly Cloudy,13.0,92.0
10,2018-05-22 08:00:00,8,Mainly Sunny,14.8,82.0
11,2018-05-22 09:00:00,9,Partly Cloudy,15.8,78.0
12,2018-05-22 10:00:00,10,Partly Cloudy,15.9,75.0
13,2018-05-22 11:00:00,11,Partly Cloudy,16.1,80.0
14,2018-05-22 12:00:00,12,Mainly Sunny,17.4,77.0
15,2018-05-22 13:00:00,13,Mainly Sunny,18.2,68.0
16,2018-05-22 14:00:00,14,Mainly Sunny,18.8,64.0
17,2018-05-22 15:00:00,15,Mainly Sunny,19.5,62.0
18,2018-05-22 16:00:00,16,Sunny,19.4,67.0
19,2018-05-22 17:00:00,17,Mainly Sunny,20.1,64.0
20,2018-05-22 18:00:00,18,Sunny,19.7,59.0
21,2018-05-22 19:00:00,19,Sunny,19.6,67.0
22,2018-05-22 20:00:00,20,Sunny,18.4,70.0
23,2018-05-22 21:00:00,21,Clear,16.1,84.0

In [15]:
weather2 = weather

In [19]:
weather2['Conditions'] = 'Beach weather!'
weather2

,Datetime,Hour of Day,Conditions,Temperature (C),Relativehumidity(%)
0,2018-05-21 22:00:00,22,Beach weather!,14.8,75.0
1,2018-05-21 23:00:00,23,Beach weather!,13.5,76.0
2,2018-05-22 00:00:00,0,Beach weather!,13.1,77.0
3,2018-05-22 01:00:00,1,Beach weather!,12.9,84.0
4,2018-05-22 02:00:00,2,Beach weather!,12.2,88.0
5,2018-05-22 03:00:00,3,Beach weather!,12.0,87.0
6,2018-05-22 04:00:00,4,Beach weather!,11.9,88.0
7,2018-05-22 05:00:00,5,Beach weather!,10.4,97.0
8,2018-05-22 06:00:00,6,Beach weather!,11.0,91.0
9,2018-05-22 07:00:00,7,Beach weather!,13.0,92.0
10,2018-05-22 08:00:00,8,Beach weather!,14.8,82.0
11,2018-05-22 09:00:00,9,Beach weather!,15.8,78.0
12,2018-05-22 10:00:00,10,Beach weather!,15.9,75.0
13,2018-05-22 11:00:00,11,Beach weather!,16.1,80.0
14,2018-05-22 12:00:00,12,Beach weather!,17.4,77.0
15,2018-05-22 13:00:00,13,Beach weather!,18.2,68.0
16,2018-05-22 14:00:00,14,Beach weather!,18.8,64.0
17,2018-05-22 15:00:00,15,Beach weather!,19.5,62.0
18,2018-05-22 16:00:00,16,Beach weather!,19.4,67.0
19,2018-05-22 17:00:00,17,Beach weather!,20.1,64.0
20,2018-05-22 18:00:00,18,Beach weather!,19.7,59.0
21,2018-05-22 19:00:00,19,Beach weather!,19.6,67.0
22,2018-05-22 20:00:00,20,Beach weather!,18.4,70.0
23,2018-05-22 21:00:00,21,Beach weather!,16.1,84.0

In [20]:
# Our original dataframe is modified too!
# If we try to re-run any of the code in earlier cells, such as
# weather['Conditions'].value_counts(), the results will be wrong
weather

,Datetime,Hour of Day,Conditions,Temperature (C),Relativehumidity(%)
0,2018-05-21 22:00:00,22,Beach weather!,14.8,75.0
1,2018-05-21 23:00:00,23,Beach weather!,13.5,76.0
2,2018-05-22 00:00:00,0,Beach weather!,13.1,77.0
3,2018-05-22 01:00:00,1,Beach weather!,12.9,84.0
4,2018-05-22 02:00:00,2,Beach weather!,12.2,88.0
5,2018-05-22 03:00:00,3,Beach weather!,12.0,87.0
6,2018-05-22 04:00:00,4,Beach weather!,11.9,88.0
7,2018-05-22 05:00:00,5,Beach weather!,10.4,97.0
8,2018-05-22 06:00:00,6,Beach weather!,11.0,91.0
9,2018-05-22 07:00:00,7,Beach weather!,13.0,92.0
10,2018-05-22 08:00:00,8,Beach weather!,14.8,82.0
11,2018-05-22 09:00:00,9,Beach weather!,15.8,78.0
12,2018-05-22 10:00:00,10,Beach weather!,15.9,75.0
13,2018-05-22 11:00:00,11,Beach weather!,16.1,80.0
14,2018-05-22 12:00:00,12,Beach weather!,17.4,77.0
15,2018-05-22 13:00:00,13,Beach weather!,18.2,68.0
16,2018-05-22 14:00:00,14,Beach weather!,18.8,64.0
17,2018-05-22 15:00:00,15,Beach weather!,19.5,62.0
18,2018-05-22 16:00:00,16,Beach weather!,19.4,67.0
19,2018-05-22 17:00:00,17,Beach weather!,20.1,64.0
20,2018-05-22 18:00:00,18,Beach weather!,19.7,59.0
21,2018-05-22 19:00:00,19,Beach weather!,19.6,67.0
22,2018-05-22 20:00:00,20,Beach weather!,18.4,70.0
23,2018-05-22 21:00:00,21,Beach weather!,16.1,84.0

In [21]:
weather_am

,Datetime,Hour of Day,Conditions,Temperature (C),Relativehumidity(%)
2,2018-05-22 00:00:00,0,Raining cats and dogs,13.1,77.0
3,2018-05-22 01:00:00,1,Raining cats and dogs,12.9,84.0
4,2018-05-22 02:00:00,2,Raining cats and dogs,12.2,88.0
5,2018-05-22 03:00:00,3,Raining cats and dogs,12.0,87.0
6,2018-05-22 04:00:00,4,Raining cats and dogs,11.9,88.0
7,2018-05-22 05:00:00,5,Raining cats and dogs,10.4,97.0
8,2018-05-22 06:00:00,6,Raining cats and dogs,11.0,91.0
9,2018-05-22 07:00:00,7,Raining cats and dogs,13.0,92.0
10,2018-05-22 08:00:00,8,Raining cats and dogs,14.8,82.0
11,2018-05-22 09:00:00,9,Raining cats and dogs,15.8,78.0
12,2018-05-22 10:00:00,10,Raining cats and dogs,15.9,75.0
13,2018-05-22 11:00:00,11,Raining cats and dogs,16.1,80.0

With data from `weather_stations.csv` show `df['Conditions'].value_counts(dropna=False)` and show the use of `.isnull()` as a filter to spot missing data

In [7]:
df = pd.read_csv('./data/weather_YVR.csv')
df.head()

,Datetime,Hour of Day,Conditions,Temperature (C),Relativehumidity(%)
0,2018-05-21 22:00:00,22,Mainly Clear,14.8,75.0
1,2018-05-21 23:00:00,23,Clear,13.5,76.0
2,2018-05-22 00:00:00,0,Clear,13.1,77.0
3,2018-05-22 01:00:00,1,Clear,12.9,84.0
4,2018-05-22 02:00:00,2,Clear,12.2,88.0

In [8]:
df_transpose = df.T
df_transpose.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
Datetime,2018-05-21 22:00:00,2018-05-21 23:00:00,2018-05-22 00:00:00,2018-05-22 01:00:00,2018-05-22 02:00:00,2018-05-22 03:00:00,2018-05-22 04:00:00,2018-05-22 05:00:00,2018-05-22 06:00:00,2018-05-22 07:00:00,...,2018-05-22 12:00:00,2018-05-22 13:00:00,2018-05-22 14:00:00,2018-05-22 15:00:00,2018-05-22 16:00:00,2018-05-22 17:00:00,2018-05-22 18:00:00,2018-05-22 19:00:00,2018-05-22 20:00:00,2018-05-22 21:00:00
Hour of Day,22,23,0,1,2,3,4,5,6,7,...,12,13,14,15,16,17,18,19,20,21
Conditions,Mainly Clear,Clear,Clear,Clear,Clear,Clear,Clear,Fog,Mainly Sunny,Partly Cloudy,...,Mainly Sunny,Mainly Sunny,Mainly Sunny,Mainly Sunny,Sunny,Mainly Sunny,Sunny,Sunny,Sunny,Clear
Temperature (C),14.8,13.5,13.1,12.9,12.2,12,11.9,10.4,11,13,...,17.4,18.2,18.8,19.5,19.4,20.1,19.7,19.6,18.4,16.1
Relativehumidity(%),75,76,77,84,88,87,88,97,91,92,...,77,68,64,62,67,64,59,67,70,84

In [3]:
# avg_by_condition = df.groupby('Conditions').mean()
# avg_by_condition

               Hour of Day  Temperature (C)  Relativehumidity(%)
Conditions
Clear             7.714286        13.100000            83.428571
Fog               5.000000        10.400000            97.000000
Mainly Clear     22.000000        14.800000            75.000000
Mainly Sunny     12.142857        17.114286            72.571429
Partly Cloudy     9.250000        15.200000            81.250000
Sunny            18.250000        19.275000            65.750000

In [9]:
df['Conditions'] = 'Raining cats and dogs'
df.head()

,Datetime,Hour of Day,Conditions,Temperature (C),Relativehumidity(%)
0,2018-05-21 22:00:00,22,Raining cats and dogs,14.8,75.0
1,2018-05-21 23:00:00,23,Raining cats and dogs,13.5,76.0
2,2018-05-22 00:00:00,0,Raining cats and dogs,13.1,77.0
3,2018-05-22 01:00:00,1,Raining cats and dogs,12.9,84.0
4,2018-05-22 02:00:00,2,Raining cats and dogs,12.2,88.0

In [10]:
df_transpose

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
Datetime,2018-05-21 22:00:00,2018-05-21 23:00:00,2018-05-22 00:00:00,2018-05-22 01:00:00,2018-05-22 02:00:00,2018-05-22 03:00:00,2018-05-22 04:00:00,2018-05-22 05:00:00,2018-05-22 06:00:00,2018-05-22 07:00:00,...,2018-05-22 12:00:00,2018-05-22 13:00:00,2018-05-22 14:00:00,2018-05-22 15:00:00,2018-05-22 16:00:00,2018-05-22 17:00:00,2018-05-22 18:00:00,2018-05-22 19:00:00,2018-05-22 20:00:00,2018-05-22 21:00:00
Hour of Day,22,23,0,1,2,3,4,5,6,7,...,12,13,14,15,16,17,18,19,20,21
Conditions,Mainly Clear,Clear,Clear,Clear,Clear,Clear,Clear,Fog,Mainly Sunny,Partly Cloudy,...,Mainly Sunny,Mainly Sunny,Mainly Sunny,Mainly Sunny,Sunny,Mainly Sunny,Sunny,Sunny,Sunny,Clear
Temperature (C),14.8,13.5,13.1,12.9,12.2,12,11.9,10.4,11,13,...,17.4,18.2,18.8,19.5,19.4,20.1,19.7,19.6,18.4,16.1
Relativehumidity(%),75,76,77,84,88,87,88,97,91,92,...,77,68,64,62,67,64,59,67,70,84